/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-card {
  width: 50%;
  height: 20rem;
}

.footer-toolbar {
  background-color: #626262;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.spacer {
  display: block;
  height: 1rem;
}
